<!DOCTYPE html>
<html>

<head>
  <title>
    User Messages
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/css/style.css' />

  <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.min.js"></script>
  <script src="/js/module.js"></script>
  <script src="/js/factories.js"></script>
  <script src="/js/controllers.js"></script>
</head>

<body ng-app="myApp">

  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="mainCtrl">
  <div class="container">
    <ul class="nav navbar-nav">
        <li><a ui-sref="register">register</a></li>
        <li><a ui-sref="signin">sign in</a></li>
        <li><a href="" ng-click="logOut()">sign out</a></li>
      </ul>
  </div>
</nav>
  <ui-view>
  </ui-view>



  </body>
</html>
