body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar{
   border-width: 0px;
   -webkit-box-shadow: 0px 0px;
   box-shadow: 0px 0px;
   background-color: rgba(0,0,0,0.0);
   background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
   background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
   background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}
.nav {
  color: #2c3e50;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.navbar-nav > li > a {
    color: #2c3e50;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}

.navbar-default .navbar-nav > li > a {
    color: #2c3e50;
}

.container{
  max-width:600px;
}

.thumbnail {
  margin-top:100px;
  border:2px solid #2c3e50;
}

form {
  margin-top:100px;
}

form input {
  width:100%;
  margin: 2.5% 0;
  font-size:24px;
  border-radius:7px;
  padding:7px;
  border: 1px solid #fff;
  background-color: #2c3e50;
  outline:0;
  color:#fff;
}

.btn-primary {
  background-color: #34495e;
  border: 1px solid #34495e;
  outline:0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}
